.home-comp {
    padding-top: 3vw;
    
}


.material {
    color: #7884A5;
    font-size: 5.5vw;
    margin-left: 3vw;
    font-family: Raleway-Bold;
    -webkit-text-stroke: 1px #C9D0E1;
   text-shadow:  #D9D9D9 0 2px ;
    
    
}

.text {
    margin-top: 2vw;
    color: #292E3D;
    font-size: 2vw;
    line-height: 2.5vw;
    width: 67vw;
    margin-left: 3vw;
    font-family: Raleway-Regular;
}